host: 127.0.0.1
port: 3000
server: "https://botsin.space"
client_id: "<your client_id here>"
client_secret: "<your client secret here>"
email: "<your email here>"
password: "<your password here>"
owner: "@<your username>@<server name>"
